.input{
    border: 1px solid black;
    position: relative;
    display: inline-block;
    padding: 1em 2em;
    margin-top: 1em;
}

.panel{
    position: relative;
   
}
.display{
    margin-top:1em;
    position: relative;
    p{
        margin-top:4px;
    }
    .draw_board{
        float: right;
        position: relative;
       max-height: 600px;
       min-height: 600px;
       min-width: 600px;
       max-width:600px;
        background-color: salmon;
    }
    .info{
        height: 600px;
        width: 200px;
        border: 1px solid black;
        background-color: silver;
        
    }
}

#circle {
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#rectangle {
	
	background: red;
}


#square {
	
	background: green;
}

#triangle{
	width: 0;
	height: 0;
	border-top: 100px solid red;
	border-left: 100px solid transparent;

}
  
    


